<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About Us")}</%block>

<section class="static-container about">
<h1>${_("Our Vision")}</h1>
<p>${_("Re-discover essence of learning by making it interesting and accessible to people across India")}</p>
<p>${_("")}</p>

<h1>${_("Our Mission")}</h1>
<p>${_("Our mission is to bring accessible, affordable, engaging, and highly effective education to various parts of India. We believe that continuous improvement is a key factor for success, and we seek to empower our students to advance their education and careers.")}</p>
<p>${_("")}</p>

<h1>${_("What do we do?")}</h1>
<p>${_("LearnEra is an online education platform that helps students to crack competitive examinations in India. LearnEra offers various courses targeting higher education to job entrance tests. Its a one stop solution for a student to achieve their career goals.")}</p>
<p>${_("")}</p>

<h1>${_("How do we do?")}</h1>
<p>${_("LearnEra provides intuitive videos with interactive quizzes for every topic and helps in mastery learning. We also asses student with a frequent tests and provide feedback to get him/her on track.")}</p>
</section>



