<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<section class="static-container faq">
<h1>${_("FAQs")}</h1>
<h2>${_("Do the site look same in production version of LearnEra?")}</h2>
<p>${_("Yes, Features would be similar to demo site. However there would be some changes on user interface.")}</p>

<h2>${_("Can we create content on this demo version of LearnEra?")}</h2>
<p>${_("No, content will be managed by LearnEra, vendors will be given access to course authoring tool as per agreement made with LearnEra")}</p>

</section>
