## mako
<%! from django.utils.translation import ugettext as _ %>
<%! from microsite_configuration.templatetags.microsite import platform_name %>
<%namespace name='static' file='static_content.html'/>

<footer>
  <div class="footer-container">
    <nav class="nav">
      <ul>
        %if settings.MKTG_URL_LINK_MAP.get('ABOUT'):
        <li>
          <a id="about" href="${marketing_link('ABOUT')}">${_("About")}</a>
        </li>
        %endif
        %if settings.MKTG_URL_LINK_MAP.get('FAQ'):
        <li>
          <a id="faq" href="${marketing_link('FAQ')}">${_("FAQ")}</a>
        </li>
        %endif
        %if settings.MKTG_URL_LINK_MAP.get('CONTACT'):
        <li>
          <a id="contact" href="${marketing_link('CONTACT')}">${_("Contact")}</a>
        </li>
        %endif
        %if settings.MKTG_URL_LINK_MAP.get('PRIVACY'):
        <li>
          <a href="${marketing_link('PRIVACY')}">${_("Privacy Policy")}</a>
        </li>
        %endif
      </ul>
    </nav>
    <div>
      <p class="copyright">${_(u"© 2014 {platform_name}, all rights reserved.").format(platform_name=platform_name())}</p>
    </div>
    <nav class="nav">
      <ul>
        <li>
		  <a href="http://www.facebook.com/learnera">
			<img src="${static.url('themes/LearnEra_Theme/images/facebook-sharing-white.png')}" alt="facebook of learnera">
		  </a>
        </li>
        <li>
		  <a href="http://www.facebook.com/learnera">
			<img src="${static.url('themes/LearnEra_Theme/images/google-plus-sharing-white.png')}" alt="facebook of learnera">
		  </a>
        </li>
        <li>
          <a href="http://www.facebook.com/learnera">
			<img src="${static.url('themes/LearnEra_Theme/images/twitter-sharing-white.png')}" alt="facebook of learnera">
      </a>
        </li>

		</ul>
    </nav>
	  
    </div> 

 </div>
</footer>
